*{
    font-family:'Times New Roman';
    margin: 10px;
}

h1 {
    background-color: rgb(38, 182, 3);
    color: rgb(45, 0, 246);
    padding: 20px;
    margin: 0;
}

div{
    background-image: url(Images/scary.jpg);
}

p {
    font-size: 20pt;
    border: 12px solid rgb(115, 150, 214);
    padding: 3rem;
    margin: 10px;
}


